{% extends "../base.html" %}
{% block contactactive %}active{% endblock contactactive %}
{% block title %}Contact Us | CodeWithHritujeet{% endblock title %}
{% block body %}
<div class="row container mx-auto my-5" style="height: 60vh;">
    <div class="col-12">
    <h2>Contact us</h2>
    <p>Please fill in the form below and we will contact you very soon. Your email address will not be published.</p>
    <!-- Form START -->
    <form class="contact-form" id="contact-form" name="contactform" method="POST" action="/contact">
      {% csrf_token %}
      <!-- Main form -->
      <div class="row">
        <div class="col-md-6">
          <!-- name -->
          <div class="mb-3">
            <input required id="con-name" name="name" type="text" class="form-control" placeholder="Name" fdprocessedid="qsenvg">
          </div>
        </div>
        <div class="col-md-6">
          <!-- email -->
          <div class="mb-3">
            <input required id="con-email" name="email" type="email" class="form-control" placeholder="E-mail" fdprocessedid="u3hj93">
          </div>
        </div>
        <div class="col-md-12">
          <!-- Subject -->
          <div class="mb-3">
            <input required id="con-subject" name="ph" type="tel" class="form-control" placeholder="Phone Number" fdprocessedid="1l4ybn">
          </div>
        </div>
        <div class="col-md-12">
          <!-- Message -->
          <div class="mb-3">
            <textarea required id="con-message" name="message" cols="40" rows="6" class="form-control" placeholder="Message"></textarea>
          </div>
        </div>
        <!-- submit button -->
        <div class="col-md-12 text-start"><button class="btn btn-primary w-100" type="submit" fdprocessedid="63i70o">Send Message</button></div>
      </div>
    </form>
            <!-- Form END -->
    </div>
  </div>
{% endblock body %}
