{% extends "../base.html" %}
{% block courseactive %}active{% endblock courseactive %}
{% block title %}Javascript for beginners{% endblock title %}
{% block body %}
<div class="container my-5">
    <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            From {{course.name}}
          </h3>
    
          <article class="blog-post">
            <h2 class="display-5 fw-bold mb-1">{{tut.title}}</h2>
            <p class="blog-post-meta">{{tut.timestamp}}</p>
            <p class="my-3">
              {{tut.content | safe}}
            </p>
          </article>
        </div>

{% comment %} Sidebar {% endcomment %}

        <div class="col-md-4">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About the Course</h4>
            <p class="mb-0">{{course.about}}</p>
          </div>
              <h4 class="fst-italic">Table of Contents</h4>
              <ul class="list-unstyled">
                {% for t in allTuts %}
                <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="/courses/tutorial/{{t.slug}}">
                    <div class="col-lg-8">
                      <h6 class="mb-0">{{t.title}}</h6>
                      <small class="text-body-secondary">{{t.timestamp}}</small>
                    </div>
                  </a>
                </li>
                {% endfor %}
                
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock body %}
